<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
        <a routerLink="listEtudiants">
          <i class="material-icons">list_alt</i>
        </a>
      </li>
      <li>
        <a routerLink="listDepts">
          <i class="material-icons">computer</i>
        </a>
      </li>
  </ul>
</nav>