
<div class="container">
<div class="jumbotron">
  <h2>
    Bienvenue sur EPT SOCIAL MANAGER
  </h2>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> titre </div>
    <div class="panel-body">
      <h5>Campus Social EPT par CROUS-T</h5>
    </div>
</div>   
</div>
